Q.1.	Create two int type variables, apply addition, subtraction, division and multiplications and store the results in variables. Then print the data in the following format by calling the variables:

First variable is		& second variable is     .

Addition:	+	=

Subtraction:		-			=

Multiplication:			*			=

Division:	/		=

In [10]:
num1 = int(input('Enter a number'))
num2 = int(input('Enter a number'))
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
print('First variable is ', num1,  '& second variable is ', num2,'.')
print('Addition: ', num1, '+', num2, '=', addition)
print('Subtraction: ', num1, '-', num2, '=', subtraction)
print('Multiplication: ', num1, '*', num2, '=', multiplication)
print('Division: ', num1, '/', num2, '=', division)

Enter a number10
Enter a number20
First variable is  10 & second variable is  20 .
Addition:  10 + 20 = 30
Subtraction:  10 - 20 = -10
Multiplication:  10 * 20 = 200
Division:  10 / 20 = 0.5

Q.2.	What is the difference between the following operators:


(i)	‘/’ & ‘//’

(ii)	‘**’ & ‘^’



**Answer:**

(i)	In python, the ‘/’ (single slash) operator carries out the float division. The output of this operator is always a quotient with a float datatype.
The ‘//’ (double slash) operator carries out integer division which is also known as floor division.

(ii)	In python, ** is the exponentiation operator, and ^ is the XOR operator. XOR is the bitwise XOR of the two numbers.

In [14]:
n1 = 2
n2 = 3
n3 = n1**n2
n4 = n1 ^ n2
print(n3)
print(n4)

8
1

Q.3.	List the logical operators.

**Answer:**

Python has mainly three logical operators: and , or , and not .

Q.4.	Explain right shift operator and left shift operator with examples.

**Answer:**

Bitwise right shift operator is denoted by ‘ >>’. The left operand’s value is moved toward right by the number of bits specified by the right operand.

e.g. if we write 10 >> 3 the output will be 1. The decimal number 10 is converted to binary as 1010 and the bits will be shifter right by 3 positions and hence the output will be 1. 10 >> 3  -> 1010 -> 1 (in binary) -> 1 (in decimal – Final Output).

In [30]:
x = 10 >> 3 #1010
print(x)

1

Bitwise left shift operator is denoted by ‘ <<’. The left operand’s value is moved toward left by the number of bits specified by the right operand and the empty bits on right hand side are filled with 0’s.

e.g. if we write 8 << 2 the output will 32. The decimal number 8 is converted to binary as 1000 and the bits will be shifted left by 2 positions resulting in to two blank positions on the right side. These blank positions are filled with 0’s and the result will be 100000. The underlined bits are additional bits. The decimal equivalent of 100000 is 32.
8  << 2  -> 1000  <<  2 -> 1000bb (b is blank position) -> 100000 (in binary) > 32 (in decimal - Final output)

In [31]:
x = 8 << 2 #1000
print(x)

32

Q.5.	Create a list containing int type data of length 15. Then write a code to check if 10 is present in the list or not.

**Answer:**

In [48]:
lst1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
#lst1 = [*range(0,31,2)]
#print(lst1)
flag = 0
for x in lst1:
  if x == 10:
    flag = 1
    break
  else:
      flag = 0
if flag == 1:
  print("10 is present in the list")
else:
  print("10 is not present in the list")

10 is present in the list